php_flag display_errors on

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#Categias
RewriteRule ^categorias$ Controllers/categoriasController.php [L]

#Tareas
RewriteRule ^tareas$ Controllers/tareasController.php [L]
RewriteRule ^tareas/categoria_id=([0-9]+)$ Controllers/tareasController.php?categoria_id=$1 [L]
RewriteRule ^tareas/([0-9]+)$ Controllers/tareasController.php?id_tarea=$1 [L]

#Usuarios
RewriteRule ^usuarios$ Controllers/usuariosController.php [L]

#Sesiones
RewriteRule ^sesiones$ Controllers/sesionesController.php [L]